#header .navbar {
    background-color: #292826;
    width: 100%;
    padding-left: 11%;
    color: white;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Bungee Outline', cursive;;
}


#wrap {

    background: url("../images/home.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 7%;
    left: 0;
}

.border-b {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.border-b::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: white;
    transition: width .3s;
}

.border-b:hover::after {
    width: 100%;
//transition: width .3s;
}

.footer {
    background-color: #292826;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.signin-container{
    width: 30%;
    margin: 3% auto;
    border: gray solid 1px;
    border-radius: 20%;
    box-shadow: 5px 10px #888888;
}

.signin-container h5{
    text-align: center;
}

.signin-btn{
    border-radius: 50%;
    margin-left: 40%;
}

.singin-form{
    padding: 3%;

}

.create-post{
    width: 80%;
    margin: 3% auto;
}
.create-post h5{
    text-align: center;
}



.footer_contents {
    background-color: #292826;
    color: white;
    width: 100%;
    margin: auto;
}

#postSummary {
    margin: auto;
    width: 60%;
}

.card-body{
    position: relative;
}

.card-cover{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(249, 211, 66,0.5);
    justify-content: center;
    align-items: center;
    display: none;
}

.card:hover .card-cover{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(128, 128, 128,0.8);
    justify-content: center;
    align-items: center;
    display: flex;
}



article {

    display: grid;
    grid-template-columns: 1fr 0.5in [start] 7.5in [end] 0.5in 1fr;

    padding: 0.5in 0;
}
 article * {grid-column: start/end;}


 .debug-center{
     display: flex;
     justify-content: center;
     align-items: center;
 }

@media  (max-width: 8.5in) {
    article {grid-template-columns: 1fr 0.5% [start] 90% [end] 0.5% 1fr}
}
